

<div id="setting-selection">
	
	<%= link_to "主項目",setting_first_categories_path %>
	<%= link_to "次項目",setting_second_categories_path %>
	<%= link_to "小項目",setting_third_categories_path %>
	<%= link_to "帳戶",setting_account_entities_path %>

</div>


