

#setting-selection{
	text-align:center;
	height: 100vh;
	background-color: #eee;
	padding: 150px 0;
	width:100%;

	a{
		display: block;
		border: 1px solid blue;
		height: 150px;
		line-height: 150px;
		width:80%;
		margin:0px 10% 150px;
		font-size: 1.5em;
		color: white;
		background-color: #33e;
	}

}


