

.deal-record-index{

	table{
		font-size: 0.6em;
		border: 2px solid black;
		table-layout: fixed;
		width:98%;
		margin:0 auto;

		tr{
			border-bottom: 2px solid black;
			height: 80px;
		}

		td:nth-child(1){width:15%;}
		td:nth-child(2){width:20%;}
		td:nth-child(3){width:20%;}
		td:nth-child(4){width:15%;}
		td:nth-child(5){width:20%;}
		td:nth-child(6){width:12%;}

		.detail{
			width: 100%;
	    height: 100%;
  	  font-size: 1em;
		}

	}
}

.deal-record-show{
	.back{
		a{
			display: block;
			width: 90%;
			margin:5px auto;
			background-color: snow;
		}
	}

	.record-field{
		margin-top:40px;

		table{
			width:98%;
			margin: 0 auto;
			table-layout: fixed;
			border: 2px solid black;

			tr{
				border-bottom: 2px solid black;
			}

			td:nth-child(1){width:30%};
			td:nth-child(2){width:70%};
		}	
	}

	.deal-item-group{
		margin: 40px 0;

		table{
			width:98%;
			border: 2px solid black;
			margin: 0px auto;
			table-layout: fixed;

			tr{
				border-bottom: 2px solid black;
			}
			td:nth-child(1){width:30%};
			td:nth-child(2){width:70%};			
		}
	}
}



.deal-record-form{
	padding:0 0 400px 0;


	.submit{
		input{
			width: 98%;
	    display: block;
	    height: 120px;
	    margin: 0 auto;
	    background-color: lightgreen;
	    border-radius: 25px;
	    border: none;
	    font-size: 1.5em;
	    font-family: serif;	    
		}
	}

	.record-field{
		border: 2px solid green;
    width: 98%;
    margin: 20px auto;
    border-radius: 20px;

		.record-field-unit{
			width: 98%;
			margin: 0px auto;
			padding: 20px 0;

			.title{
				font-size: 0.6em;
				color: #aaa;
			}

			select{
				border-radius: 20px;
				width: 100%;
				height: 80px;
				margin: 0 auto;
				background-color: lightblue;

			}

			input[type=text]{
				border-radius: 20px;
				width: 100%;
				height: 80px;
				margin: 0 auto;
				background-color: lightblue;
				text-align: center;
			}

			.total-amount{
				margin-left:20px;
			}
		}
	}

	.deal-item-field-group{
    margin: 20px auto;
    width: 98%;
	
		.deal-item-field-group-title{
			width:100%;
			margin:0 0 10px 0;
			padding: 30px 0 0 10px;
			border-bottom: 2px solid red;
			font-size: 1.5em;
		}

		.deal-item-field{
	    border: 2px solid lightgreen;
	    border-radius: 20px;
	    margin: 20px auto;

			.deal-item-field-unit{
				width: 98%;
				margin: 0px auto;
				padding: 20px 0;

				.title{
					font-size: 0.6em;
					color: #aaa;					
				}

				select{
					border-radius: 20px;
					width: 100%;
					height: 80px;
					margin: 0 auto;
					background-color: snow;

				}

				input[type=text],input[type=number]{
					border-radius: 20px;
					width: 100%;
					height: 80px;
					margin: 0 auto;
					background-color: snow;
					text-align: center;
				}
			}


			.deal-item-field-payment{
				
				.deal-item-field-payment-title{
					margin: 0 10px 20px 10px;
					border-bottom: 2px solid lightgrey;
				}

				.deal-payment-field-group{
					width:98%;
					margin: 0px auto;
					
					.payment-field{
						margin: 20px;

						.remove{
							width:10%;
							padding: 10px 0 0 0 ;
							float: left;
						}

						.account-entity{
							float: right;
							width: 50%;
							margin: 0 3% 0 0;

							select{
								border-radius: 20px;
								width: 100%;
								height: 80px;
								margin: 0 auto;
								background-color: snow;
							}
						}

						.amount{
							width: 30%;
							float: right;

							input[type=text],input[type=number]{
								border-radius: 20px;
								height: 80px;
								width:100%;
								margin: 0 auto;
								background-color: snow;
								text-align: center;
							}
						}

					}

					.payment-field::after{
						display:block;
						content:"";
						clear: both;
					}

					.add-payment-field{
						width:50%;
						padding: 40px 5px 10px 0;
						text-align: right;
						float: right;

						a{
							display: inline-block;
							padding: 0 20px;
							background-color: lightblue;
							border-radius: 20px;
						}
					}

				}

				.deal-payment-field-group::after{
					display: block;
					content: "";
					clear: both;

				}				

			}
		}

		.add-deal-item-field{
			padding:20px 0;

			a{
				height: 100px;
				line-height: 100px;
				text-align: center;
				display: block;
				padding: 0 20px;
				background-color: lightgreen;
				border-radius: 20px;				
			}
		}

		select{
			border-radius: 0px;	
		}

		input[type='text'],
		input[type='number'],
		textarea {
		  font-size: 1.3em;
		}
	}

}


